<a href="#" class="text-dark">
  <% if (type === "master") { %>
    <div class="card border-warning">
  <% } else if (type === "college") { %>
    <div class="card border-info">
  <% } %>
    <% if (image == "") { %>
      <img class="card-img-top" src="">
    <% } else if (image.indexOf('/') == -1) { %>
      <img class="card-img-top" src="image/coding.png" alt="Card Image">
    <% } else { %>
      <img class="card-img-top" src="<%= image%>" alt="Card Image">
    <% } %>
    <div class="card-body">
      <h5 class="card-title"><%= title %></h5>
      <p class="card-text"><%= description %></p>
      <small class="text-muted"><%= period %></small>
    </div>
  </div>
</a>
